<H2>Register</H2>
<%= form_tag(user_register_path , method: "post") do %>
	<%= label_tag(:name, "Username:") %><br>
	<%= text_field_tag "name" %><br>
	<%= label_tag(:password, "Password:") %><br>
	<%= password_field_tag(:password) %><br>
	<%= submit_tag("Register") %><br>
<% end %>	
<hr>